name: Continuous Delivery Docker Image for API

on:
  push:
    tags:
      - '*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Setup Docker Buildx 
        uses: docker/setup-buildx-action@v2
        id: buildx 
        with:
          install: true
          
      - name: Extract metadata (tags, labels) for Docker
        id: meta2
        uses: docker/metadata-action@v4
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/hant-api-service

      - name: Build and Push Docker API Image
        uses: docker/build-push-action@v4
        id: docker_build_backend
        with:
          context: .
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/arm64,linux/amd64
          push: true
          tags: ${{ steps.meta2.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Checkout config repo
        uses: actions/checkout@v3
        with:
          repository: hantbk/api_config
          token: ${{ secrets.MY_REPO_TOKEN }}
          path: config-repo

      - name: Update API image in value.yaml
        run: |
          cd config-repo
          sed -i "s|tag:.*|tag: \"${{ github.ref_name }}\"|g" value.yaml
          git config --global user.email "captainnemot1k60@gmail.com"
          git config --global user.name "hantbk"
          git add value.yaml
          git commit -m "Update API image to ${{ secrets.DOCKERHUB_USERNAME }}/hant-api-service:${{ github.ref_name }}"
          git push